body {
  &.fixed-nav {
    --back-navigation-fill: var(--color-white);
    #page-header {
      margin-top: 0;
      position: fixed;
      width: 100%;
      background-color: var(--color-black, $color-black);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
      transition: all 150ms ease-out;
      @include breakpoint(large) {
        @include fadeInDown($duration: 200ms, $function: var(--default-timing-function));
        animation-delay: 200ms;
      }

      *:focus {
        outline-color: var(--color-white, $color-white);
      }
    }

    .large-nav__link {
      color: var(--color-white, $color-white);

      &.active {
        border-bottom-color: var(--color-white, $color-white);
        border-bottom-style: solid;
      }

      &:before {
        background-color: var(--color-white, $color-white);
      }
    }

    .brand {
      &__circle {
        fill: var(--color-black, $color-black);
      }

      &__hair,
      &__glasses {
        fill: var(--color-white, $color-white);
      }
    }

    #social-navigation {
      .social__fill {
        fill: var(--color-white, $color-white);
      }

      .social-navigation__SocialLink-eQAYUO {
        &:before {
          background: var(--color-white, $color-white);
        }
        .social__fill {
          &:focus,
          &:hover {
            fill: var(--color-white, $color-white);
          }
        }
      }
    }
  }
}
