.introImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  animation-duration: 750ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  &__figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: rem-calc(320);
    max-height: rem-calc(380);
    padding-bottom: $global-margin;
    @include breakpoint(medium) {
      min-height: rem-calc(400);
      max-height: rem-calc(488);
      padding-bottom: $global-margin * 1.5;
    }
    @include breakpoint(large) {
      min-height: rem-calc(500);
      max-height: rem-calc(600);
      flex-direction: row;
      margin-bottom: $global-margin * 2;
      padding-bottom: $global-margin * 2;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: rem-calc(320);
    max-height: rem-calc(380);
    border-radius: $global-radius * 2;

    @include breakpoint(medium) {
      min-height: rem-calc(400);
      max-height: rem-calc(488);
    }
    @include breakpoint(large) {
      min-height: rem-calc(500);
      max-height: rem-calc(600);
    }
  }
}
