.transition-container {
  opacity: 1;
  animation-name: circleMask;
  animation-duration: 1000ms;
  animation-timing-function: var(--default-timing-function, $ease-out-expo);
  clip-path: circle(100% at center);
}

.transition-group {
  position: relative;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms var(--default-timing-function, $ease-out-expo),
    clip-path 1000ms var(--default-timing-function, $ease-out-expo);
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms var(--default-timing-function, $ease-out-expo);
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms var(--default-timing-function, $ease-out-expo);
}

@keyframes circleMask {
  from {
    clip-path: circle(0% at center bottom);
  }
  to {
    clip-path: circle(100% at center);
  }
}
