.project{
    &__information{
        position: relative;
        display: block;
        padding-top: 0;
        padding-bottom: $global-padding*5;

        @include breakpoint(large){
            padding-top: $global-padding*6;
        }
    }
}