#vertical-timeline {
	background-image: linear-gradient(var(--color-white, $color-white), var(--color-gray2, $color-gray2));
}

html[data-theme="dark"] {
	#vertical-timeline {
		background-color: var(--color-gray10, $color-gray10);
		background-image: none;
	}
}
