/**
* Libraries
**/
@import '../../../assets/styles/global/settings';
@import '../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';

/**
* Styling
**/
.newsletter {
  background-color: transparent;

  &__intro {
    text-align: center;
  }

  &__title {
    font-family: $header-font-family;
    font-weight: 400;
    color: $color-gray8;
    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    @include breakpoint(large) {
      font-size: rem-calc(24);
    }
  }

  &__subtitle {
    font-size: rem-calc(16);
    margin-bottom: rem-calc(8);
    color: $color-gray4;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }
  }
}

.form {
  &__newsletter {
    padding-top: $global-padding * 1.5;
    padding-bottom: $global-padding * 1.5;

    @include breakpoint(large) {
      padding-top: $global-padding * 2;
      padding-bottom: $global-padding * 2;
    }
  }

  &__field {
    @include xy-cell(1 of 1);

    @include breakpoint(medium) {
      @include xy-cell(3 of 4);
    }

    @include breakpoint(large) {
      @include xy-cell(1 of 2);
    }

    margin: $global-margin auto !important;

    &__group {
      width: 100%;
      padding-top: $global-padding * 0.5;
      padding-bottom: $global-padding * 0.5;
    }

    &__label {
      width: 100%;
      margin-left: $global-margin;
      margin-bottom: $global-margin * 0.25;
      text-align: left;
      font-size: rem-calc(12);
      text-transform: uppercase;
      color: $color-gray7;
    }

    &__input {
      width: 100%;
      margin-bottom: $global-margin * 0.5;
      padding-top: $global-padding * 0.75;
      padding-left: $global-padding * 0.75;
      padding-right: $global-padding * 1.5;
      padding-bottom: $global-padding * 0.75;
      text-align: left;
      width: 100%;
      font-size: rem-calc(16);
      border-radius: ($global-radius * 12);

      &:hover {
        border: 1px solid $color-gray4;
      }
    }

    &__button {
      padding-top: $global-padding * 1;
      padding-right: $global-padding * 1.5;
      padding-bottom: $global-padding * 1;
      padding-left: $global-padding * 1.5;
      box-shadow: 0 1px 8px rgba(177, 177, 194, 0.1);
    }

    &__submit {
      float: left;
      text-align: center;

      input {
        width: 100%;
      }

      @include breakpoint(medium) {
        float: right;
        text-align: right;

        input {
          width: auto;

          &:nth-child(1) {
            margin-right: $global-margin;
            box-shadow: 0 1px 4px rgba(177, 177, 194, 0.1);
          }
        }
      }
    }
  }
}
