@import '../../assets/styles/global/settings';
.ProjectItem {
    &--light {
        h2,
        h3,
        p {
            border-color: $gray3;
            color: $white;
        }
    }
    &--dark {
        h2,
        h3,
        p {
            color: $gray9;
        }
    }
}

.portfolio {
    &__item {
        &--light {
            h2,
            h3,
            p {
                border-color: $gray3;
                color: $white;
            }
        }
        &--dark {
            h2,
            h3,
            p {
                color: $gray9;
            }
        }
    }
}