@use "../../assets/styles/custom-media.scss";

.bio {
  @supports (animation-timeline: view()) {
    @media (--large-viewport) and (--with-motion) {
      &__picture,
      &__content {
        transform: translateX(0);
        opacity: 1;
        view-timeline-axis: block;
      }
    }
  }

  &__content {
    grid-column-start: 1;
    grid-column-end: -1;

    @media (--medium-viewport) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (--large-viewport) {
      grid-column-start: 1;
      grid-column-end: 6;
    }
  }
  &__picture {
    grid-column-start: 1;
    grid-column-end: -1;
    aspect-ratio: 1/1;
    width: 100%;

    @supports (animation-timeline: view()) {
      @media (--large-viewport) and (--with-motion) {
        view-timeline-name: --slide-in-image;
        animation: linear slideInImage both;
        animation-timeline: --slide-in-image;
        animation-range: entry 50% cover 50%;
      }
    }

    @media (--medium-viewport) {
      grid-column-start: 4;
      grid-column-end: 7;
    }

    @media (--large-viewport) {
      grid-column-start: 8;
      grid-column-end: -1;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-md);
    line-height: 112%;
    margin-block-end: var(--space-lg);

    @media (--large-viewport) {
      font-size: var(--font-size-lg);
      margin-block-end: var(--space-xl);
    }
  }

  &__paragraph {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1.2rem, 6vw, 1.375rem);
    line-height: 1.2727272727;

    + .bio__paragraph {
      margin-top: 1.5rem;
    }
  }
}

@keyframes slideInImage {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
