@use "../../assets/styles/custom-media.scss";

.bio {
  @supports (animation-timeline: view()) {
    @media (--large-viewport) and (--with-motion) {
      &__picture,
      &__content {
        transform: translateX(0);
        opacity: 1;
        view-timeline-axis: block;
      }
    }
  }

  &__content {
    grid-column-start: 1;
    grid-column-end: -1;

    @media (--medium-viewport) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (--large-viewport) {
      grid-column-start: 1;
      grid-column-end: 6;
    }
  }
  &__picture {
    grid-column-start: 1;
    grid-column-end: -1;
    aspect-ratio: 1/1;
    width: 100%;
    overflow: visible;

    @supports (animation-timeline: view()) {
      @media (--large-viewport) and (--with-motion) {
        view-timeline-name: --slide-in-image;
        animation: linear slideInImage both;
        animation-timeline: --slide-in-image;
        animation-range: entry -15% cover 50%;
        transform: translateX(50%);
        opacity: 0;
      }
    }

    @media (--medium-viewport) {
      grid-column-start: 4;
      grid-column-end: 7;
    }

    @media (--large-viewport) {
      grid-column-start: 8;
      grid-column-end: -1;
    }

    clip-path: shape(from 20% 0%,hline to 70%,arc to 80% 10% of 10% 10% cw small rotate 0deg,vline to 12%,arc to 90% 22% of 10% 10% ccw small rotate 0deg,hline to 90%,arc to 100% 32% of 10% 10% cw small rotate 0deg,vline to 80.87%,arc to 80.87% 100% of 19.13% 19.13% cw small rotate 0deg,hline to 30%,arc to 20% 90% of 10% 10% cw small rotate 0deg,vline to 90%,arc to 10% 80% of 10% 10% ccw small rotate 0deg,hline to 10%,arc to 0% 70% of 10% 10% cw small rotate 0deg,vline to 27%,arc to 7% 20% of 7% 7% cw small rotate 0deg,hline to 13%,arc to 20% 13% of 7% 7% ccw small rotate 0deg,vline to 7%,arc to 27% 0% of 7% 7% cw small rotate 0deg);
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-md);
    line-height: 112%;
    margin-block-end: var(--space-lg);

    @media (--large-viewport) {
      font-size: var(--font-size-lg);
      margin-block-end: var(--space-xl);
    }
  }

  &__paragraph {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1.2rem, 6vw, 1.375rem);
    line-height: 1.2727272727;

    + .bio__paragraph {
      margin-top: 1.5rem;
    }
  }
}

@keyframes slideInImage {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

