<div class="sub-section">
  <h3 class="sr-only">Bio</h3>
  <div class="bio">
    <figure class="bio__picture">
      <img src="/BioPicture.jpg" width="300" height="554" alt="">
    </figure>
    <div class="bio__content">
      <h4 class="bio__title">I focus on creating great, accessible and rich web experiences for everyone. I’ve been lucky enough to have been doing that since 2011.</h4>
      <p class="bio__paragraph">“He’s a pretty chilled dude”, thats what my friends would say. Besides working as a Senior Frontend Engineer, I also teach web development classes at 1<sup>st</sup> and 2<sup>nd</sup> year students on the Polythecnic Institute of Coimbra.</p>
      <p class="bio__paragraph">On my free time I usually go out and explore the fantastic world of craft beers, rock out to some great live music and hit the gym whenever I can.</p>
    </div>
  </div>
</div>

<style lang="scss">
  .bio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    &__picture {
      grid-column-start: 2;
      grid-column-end: 5;
    }

    &__content {
      grid-column-start: 7;
      grid-column-end: 12;
    }

    &__title {
      font-family: var(--heading-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 112%;
      margin-block: 3rem;
    }

    &__paragraph {
      font-family: var(--text-font-family);
      font-style: normal;
      font-weight: 300;
      font-size: 1.375rem;
      line-height: 1.75rem;

      + .bio__paragraph {
        margin-top: 1.5rem;
      }
    }
  }
</style>
