---
import { LAST_FM_URL } from "../../data/services/config";
import { Marquee } from "./marquee/index";
import { TrackInfo } from "./track-info/index";

let song;

try {
  const request = await fetch(LAST_FM_URL);
  const data = await request.json();
  const { recenttracks } = await data;

  song = recenttracks.track.slice(0, 1)[0];
} catch (error) {
  console.warn(error);
}
---

{song ? (
<div class="section">
  <h2 id="current-listening" class="title">
    Currently Listening To...
  </h2>
  <div class="marquee">
    <Marquee client:only>
      <TrackInfo song={song} />
    </Marquee>
  </div>
</div>
) : null}

<style lang="scss">
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
  }

  .title {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-transform: uppercase;
    color: var(--text-color);
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
    padding-inline: 3rem;
  }

  .marquee {
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    box-shadow: 0 -1px 0 0 var(--text-color), 0 1px 0 0 var(--text-color);
    height: 4rem;
    position: relative;
  }
</style>
