---
import PAGE_CONTENT from "../../data/index.json";
---

<div class="profile__picture">
	<img
		class="profile__image"
		src={PAGE_CONTENT.hero["profile-picture"].src}
		width={PAGE_CONTENT.hero["profile-picture"].width}
		height={PAGE_CONTENT.hero["profile-picture"].height}
		alt={PAGE_CONTENT.hero["profile-picture"].alt}
		loading="eager"
		fetchpriority="high"
		data-testid="profile-picture"
	/>
</div>

<style lang="scss">
	.profile {
		&__picture,
		&__image {
			width: clamp(13.75rem, 50vw, 18.75rem);
			height: auto;

			@media (min-width: 60rem) {
				width: 18.7rem;
				height: 25rem;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			&__picture,
			&__image {
				transition: all 200ms ease-in-out;

				&:hover {
					border-radius: 0;
				}
			}
		}

		&__picture {
			overflow: hidden;
			background-color: var(--background-color);
			position: relative;
			border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

			@supports (animation-timeline: view()) {
				@media (min-width: 60rem) and (prefers-reduced-motion: no-preference) {
					transform: scale(1);
					opacity: 1;
					view-timeline-name: --revealing-image;
					view-timeline-axis: block;
					animation: linear scaleOnScroll both;
					animation-timeline: --revealing-image;
				}
			}

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				background-color: var(--background-color);
				transform: translateY(-100%);

				@media (prefers-reduced-motion: no-preference) {
					transform: translateY(0%);
					animation-name: slideInFigure;
					animation-duration: 1500ms;
					animation-delay: 500ms;
					animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
					animation-fill-mode: forwards;
				}
			}
		}

		&__image {
			background-color: var(--text-color);
			object-fit: cover;
			object-position: center center;
			position: relative;
			z-index: 0;
			border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
			transform: scale(1);

			@media (prefers-reduced-motion: no-preference) {
				transform: scale(1.5);
				animation-name: scaleDownImage;
				animation-duration: 2000ms;
				animation-delay: 250ms;
				animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				animation-fill-mode: forwards;
			}

			&:hover {
				border-radius: 0;
			}
		}
	}

	@keyframes scaleOnScroll {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(2);
		}
	}

	@keyframes slideInFigure {
		0% {
			transform: translateY(0%);
		}

		100% {
			transform: translateY(-100%);
		}
	}

	@keyframes scaleDownImage {
		0% {
			transform: scale(1.5);
		}

		100% {
			transform: scale(1);
		}
	}
</style>
