<div class="profile">
  <figure class="profile__picture">
    <img src="/ProfilePicture.jpg" width="300" height="400" alt="My Profile Picture" class="profile__image" loading="lazy">
  </figure>
</div>

<style lang="scss">
.profile {
  grid-area: 2 / 1 / 3 / 4;
  display: grid;
  place-items: center;

  &__picture,
  &__image {
    width: 18.7rem;
    height: 25rem;
  }

  &__image {
    background-color: var(--text-color);
    object-fit: center;
    object-position: center center;
  }
}
</style>
