@use "../../../assets/styles/custom-media.scss";

.lets-connect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-lg);

    &__content {
        --columns-per-section: 6;
        --section-column-gap: var(--space-xs);
        --section-row-gap: var(--space-md);

        display: grid;
        grid-template-columns: repeat(var(--columns-per-section), 1fr);
        grid-template-areas:
            "waves"
            "title"
            "intro";
        column-gap: var(--section-column-gap);
        row-gap: var(--section-row-gap);
        align-content: start;
        width: 100%;
        height: auto;
        color: var(--text-color);

        @media (--large-viewport) {
            --columns-per-section: 12;
            --section-column-gap: var(--space-md);
            --section-row-gap: var(--space-lg);
        }
    }

    &__waves {
        grid-area: waves;
        position: relative;
        grid-column: 1 / -1;

        @media (--medium-viewport) {
            grid-column: 1 / 3;
        }

        @media (--large-viewport) {
            grid-column: 1 / 4;
        }
    }

    &__intro {
        grid-area: intro;
        grid-column: 1 / -1;
        display: grid;
        gap: var(--space-md);
        font-size: var(--font-size-md);
        grid-template-areas:
            "first"
            "second"
            "third";

        p {
            font-size: var(--font-size-md);
            margin: 0;
        }

        p:nth-of-type(1) {
            grid-area: first;
            font-weight: 600;
        }

        p:nth-of-type(2) {
            grid-area: second;
        }

        p:nth-of-type(3) {
            grid-area: third;
        }

        @media (--medium-viewport) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "first second second second"
                "first third third third";
        }

        @media (--large-viewport) {
            grid-column: 4 / -1;
            grid-row: 1;
        }

        @media (--laptop-viewport) {
            grid-column: 4 / 12;
            grid-row: 1;
        }
    }
}
