---
import Arrow from '../arrow/index.astro';
import Profile from '../profile/index.astro';
---
<section class="hero">
  <Arrow />
  <Profile />
  <div class="fake-copyright">
    <p class="fake-copyright__text">Since 1987 © Limited Edition</p>
  </div>
</section>

<style lang="scss">
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.fake-copyright {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  &__text {
    text-align: right;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-right: 1.25rem;
  }
}
</style>
