---
import SkillsItem from "./item.tsx";

const SKILLS_LIST = [
  "React",
  "React Native",
  "Vue",
  "Typescript",
  "Redux",
  "Cypress",
  "Jest",
  "Testing-Library",
  "Node",
  "UI Design",
  "Accessibility",
]
---

<div class="sub-section">
  <h3 class="sr-only">My Skillset</h3>
  <ul class="skills">
    {SKILLS_LIST.map((item, index) => {
      const type = (index % 2  == 0) ? "even" : "odd";

      return (
        <SkillsItem
          name={item}
          type={type}
          client:load
        />
      )
    })}
  </ul>
</div>

<style lang="scss">
  .skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    column-gap: 3.5rem;
  }
</style>
