---
// Export a "Props" interface to .
export interface Props {
    height?: number,
    width?: number,
}
const { height = 64, width = 64 } = Astro.props;
---
<div class="logo">
  <svg class="logo__vector" viewBox={`0 0 ${width} ${height}`} fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M34.7867 30.92C34.7867 30.92 36.8134 30.12 34.04 35C34.04 35 39.0934 33.84 38.1867 29.7467C38.48 31.08 38.88 30.28 38.0267 33.7467C38.8253 33.4295 39.5506 32.9524 40.1582 32.3449C40.7658 31.7373 41.2428 31.0119 41.56 30.2133C41.56 30.64 42.6267 31.2933 41.12 34.08C41.8667 33.8133 42.08 33.56 42.2533 32.9467C42.4511 34.6308 42.2548 36.3379 41.68 37.9333C42.6937 37.1387 43.4649 36.0765 43.9067 34.8667C44.08 33.64 44.9334 39.36 43.1467 43.1067C43.8502 42.3796 44.4799 41.5846 45.0267 40.7333C45.7734 39.1067 45.0267 44.52 44.8933 46.44C44.24 49.1067 45.2267 49.1067 45.2267 50.3333C45.9136 50.5388 46.6367 50.5934 47.3467 50.4933C47.8534 50.3769 48.3312 50.1584 48.7507 49.8512C49.1702 49.5441 49.5227 49.1546 49.7867 48.7067C50.2576 48.0538 50.6387 47.3408 50.92 46.5867C50.6386 46.6282 50.3514 46.5717 50.1067 46.4267C49.6134 46.1067 49.6133 45.0933 49.6133 45.0933C52.3733 46.6267 52.7734 44.6667 52.36 42.9733C52.0015 42.4019 51.8728 41.7158 52 41.0533C52.8534 19.28 43.0667 19.1067 43.0667 19.1067C44.2674 18.3855 45.585 17.8801 46.96 17.6133C45.1242 17.795 43.3475 18.363 41.7467 19.28C41.6669 18.2232 41.2256 17.2261 40.4972 16.4564C39.7687 15.6867 38.7975 15.1912 37.7467 15.0533C38.254 15.2358 38.7094 15.5385 39.074 15.9356C39.4386 16.3327 39.7015 16.8123 39.84 17.3333C39.84 17.3333 32.4667 11.56 24.56 14.88C26.6448 14.3331 28.8353 14.3331 30.92 14.88C30.6667 14.7467 17.0267 13.6133 11.52 25.72C13.6534 23.36 14.3867 22.52 14.8 22.84C15.0534 22.84 11.8267 27.6133 12.1334 40.08C12.3334 42.04 12.8 41.7467 13.1067 42.36C12.9467 42.8133 12.64 42.8933 12.4534 43.4933C10.3334 47.4933 16.04 48.36 16.04 48.36C15.5743 47.9718 15.267 47.4264 15.1761 46.8269C15.0852 46.2275 15.217 45.6155 15.5467 45.1067H16C16.439 45.2803 16.8283 45.5597 17.1334 45.92C17.1334 45.4267 16.3334 40.9867 17.1334 40.4533C33.4534 35.6667 34.7867 30.92 34.7867 30.92ZM17.1467 48.92C17.2547 48.8216 17.3876 48.7546 17.531 48.7264C17.6744 48.6982 17.8228 48.7098 17.96 48.76C18.0969 48.8129 18.2172 48.9014 18.3086 49.0162C18.4 49.131 18.4591 49.2681 18.48 49.4133V49.5733C17.7017 50.1446 16.7767 50.4822 15.8134 50.5467C14.84 50.5467 15.0267 49.8933 14.3867 49.08C14.4134 49.08 16.4934 49.8267 17.1467 48.92Z" fill="var(--text-color)"/>
    <path d="M16.1467 37.2133C16.1316 37.3849 16.1548 37.5577 16.2148 37.7191C16.2748 37.8805 16.3699 38.0266 16.4934 38.1467L16.6267 38.3067C16.7055 38.4523 16.7596 38.61 16.7867 38.7733C17.4534 42.7733 17.6 43.3333 19.28 44.2133C20.589 44.7338 21.9924 44.9745 23.4 44.92C25.0144 44.9777 26.6203 44.6629 28.0934 44C30.3467 42.8267 31.2 38.7467 31.24 38.5467C31.28 38.3467 31.3067 38.04 32.3467 38.04C33.32 38.04 33.4 38.52 33.4 38.5733C33.4 38.6267 34.28 42.8133 36.5334 44C38.0395 44.6786 39.6827 44.9981 41.3334 44.9333C42.7365 44.9864 44.1353 44.7457 45.44 44.2267C47.12 43.3467 47.2667 42.8 47.9334 38.7867C47.9605 38.6233 48.0145 38.4656 48.0934 38.32L48.2267 38.16C48.3501 38.0399 48.4453 37.8939 48.5053 37.7324C48.5652 37.571 48.5885 37.3982 48.5734 37.2267V36C48.5466 35.7018 48.4203 35.4212 48.2147 35.2036C48.0091 34.9859 47.7362 34.8437 47.44 34.8C44.8035 34.3076 42.1126 34.173 39.44 34.4H39.2934C37.9264 34.3844 36.569 34.6287 35.2934 35.12L34.4934 35.5067C34.0371 35.7358 33.5592 35.9189 33.0667 36.0534L32.6667 36.1334C32.4328 36.1734 32.1939 36.1734 31.96 36.1334L31.56 36.0534C31.0675 35.9189 30.5896 35.7358 30.1334 35.5067L29.3334 35.12C28.0577 34.6287 26.7003 34.3844 25.3334 34.4C22.6608 34.173 19.9699 34.3076 17.3334 34.8C17.0371 34.8437 16.7643 34.9859 16.5587 35.2036C16.3531 35.4212 16.2268 35.7018 16.2 36V37.1733L16.1467 37.2133ZM47.8667 36.2133V36.8134L47.12 36.52L47.8667 36.2133ZM34.9067 37.08C35.0134 36.8 35.7334 35.8667 40.1467 35.6133C40.92 35.6133 41.5734 35.5467 42.16 35.5467C44.8267 35.5467 45.6 36.0133 46.0934 36.7733C46.4157 37.3909 46.5849 38.0768 46.5867 38.7733C46.5867 40.1067 46.3334 42.4133 44.52 43.28C43.4661 43.7246 42.3304 43.9427 41.1867 43.92C38.7734 43.92 36.8534 43.1067 36.0267 41.7333C34.3067 38.8533 34.8934 37.1333 34.9067 37.0933V37.08ZM18.5867 36.76C19.08 36 19.92 35.5333 22.5867 35.5333C23.16 35.5333 23.8134 35.5334 24.6 35.6C29.0134 35.8534 29.7334 36.7867 29.8534 37.1067C29.8534 37.1067 30.44 38.84 28.72 41.72C28.1075 42.4823 27.3156 43.081 26.4152 43.4626C25.5147 43.8442 24.5338 43.9968 23.56 43.9067C22.4163 43.9293 21.2807 43.7113 20.2267 43.2667C18.4134 42.3867 18.1467 40.0667 18.16 38.76C18.1476 38.0695 18.2935 37.3853 18.5867 36.76ZM16.8 36.2267L17.5467 36.5333L16.8 36.8267V36.2267Z" fill="var(--text-color)"/>
  </svg>
</div>
<style lang="scss">
  .logo {
    display: grid;
    place-content: center;

    &,
    &__vector {
      width: 3rem;
      height: 3rem;

      @media (min-width: 60rem) {
      width: 4rem;
      height: 4rem;
      }
    }
  }
</style>
