@import '../../../assets/styles/global/settings';
@import '../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';


.metadata{
    display: flex;
    background-color: rgba(255,255,255,0.32);
    padding: $global-padding * 1.5;
    border-radius: $global-radius * 3;
    box-shadow: 0 8px 24px 0 rgba(108, 158, 195, 0.11);
    margin-bottom: $global-margin * 4;
    @include xy-cell(1 of 1);
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;


    @include breakpoint(medium){
        flex-direction: row;
        padding: $global-padding * 2;
        @include xy-cell(3 of 4);
        margin-left: auto;
        margin-right: auto;
    }


    @include breakpoint(large){
        flex-direction: row;
        padding: $global-padding * 2;
        @include xy-cell(2 of 3);
        margin-left: auto;
        margin-right: auto;
    }


    @include breakpoint(xlarge){
        flex-direction: row;
        padding: $global-padding * 2;
        margin-left: auto;
        margin-right: auto;
    }
}