@import '../../../assets/styles/global/settings';
@import '../../../assets/styles/utils/utils';

.header {
  background-color: transparent;
  max-height: var(--navbar-height, $navbar-height);
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;

  @media #{$breakpoint-large} {
    background-color: transparent;
    margin-top: rem-calc(24);
    position: relative;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: var(--navbar-height, $navbar-height);
  }
}
