/**
* Libraries
**/

@import '../../../../assets/styles/global/settings';
@import '../../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';

/**
* Styling
**/
.item {
  position: relative;
  @include xy-gutters($gutter-position: bottom, $gutter-type: margin);
  box-shadow: 0 1px 4px rgba(177, 177, 194, 0.4);
  border-radius: $global-radius * 2;
  background-color: transparent;
  transition: all 250ms ease-in-out;
  background-repeat: no-repeat;
  text-decoration: none;
  display: flex;
  @include xy-cell(1 of 1);
  overflow: hidden;

  @include breakpoint(medium) {
    &:nth-child(1) {
      border-right: 1px solid $color-gray2;
    }

    &:nth-child(n) {
      @include xy-cell(1 of 2);
      margin-left: $global-margin * 0.5;
      margin-right: $global-margin * 0.5;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 16px 48px rgba(177, 177, 194, 0.8);
    background-color: $color-gray2;

    &::before {
      --size: #{rem-calc(320)};
      z-index: 3;
    }
  }

  &::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, lighten($color-gray3, 10%), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  // Anchor Tag
  &__inner {
    width: 100%;
    display: flex;
    padding-top: $global-padding * 1.5;
    padding-right: $global-padding * 1.5;
    padding-bottom: $global-padding * 1.5;
    padding-left: $global-padding * 1.5;
    cursor: pointer;
    transition-property: cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1),
      transform cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 750ms;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    @include breakpoint(large) {
      height: rem-calc(280);
      padding-top: $global-padding * 2;
      padding-right: $global-padding * 2;
      padding-bottom: $global-padding * 2;
      padding-left: $global-padding * 2;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  // Inner Containers: Top, center and Bottom
  &__top,
  &__bottom {
    display: flex;
    flex: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__top {
    align-items: center;
    flex-direction: column;
    animation-delay: 500ms;
  }

  &__bottom {
    align-items: flex-end;

    @include breakpoint(large) {
      align-items: flex-end;
    }

    p {
      animation-delay: 2200ms;
    }
  }

  // Typography
  &__title,
  &__subtitle,
  &__link {
    text-align: center;
  }

  &__subtitle,
  &__link {
    font-family: var(--body-font-family);
    font-weight: 400;
  }

  &__title {
    font-family: $header-font-family;
    font-style: italic;
    font-weight: 300;
    color: var(--color-black, $color-black);

    @include responsive-typography(small, h2);

    @include breakpoint(medium) {
      @include responsive-typography(medium, h2);
    }

    @include breakpoint(large) {
      @include responsive-typography(large, h3);
    }
  }

  &__subtitle {
    color: $color-gray8;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    @include responsive-typography(small, h5);

    @include breakpoint(medium) {
      @include responsive-typography(medium, h5);
    }

    @include breakpoint(large) {
      @include responsive-typography(large, h5);
    }
  }

  &__link {
    color: $color-gray8;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    @include responsive-typography(small, h6);
    @include breakpoint(large) {
      @include responsive-typography(large, h6);
    }
  }
}
