.panel {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  min-height: calc(100vh - 48px);
  padding-top: 10vh;
}

.mrRed {
  min-height: calc(100vh - 48px);
  padding-top: 10vh;
}

.ahm {
  min-height: calc(100vh - 48px);
  padding-top: 10vh;
}

.lifeWithBird {
  min-height: calc(100vh - 48px);
  padding-top: 10vh;
}

.chadstone {
  min-height: calc(100vh - 48px);
  padding-top: 10vh;
}
