/**
* Libraries
**/

@import '../../../assets/styles/global/settings';
@import '../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';

/**
* Styling
**/

.item {
  position: relative;
  overflow: hidden;
  height: auto;
  @include xy-gutters($gutter-position: bottom);

  &:nth-child(n) {
    @include xy-cell(1 of 1);
  }
  @include breakpoint(medium) {
    &:nth-child(n) {
      @include xy-cell(1 of 2);
    }
    margin-bottom: $global-margin * 2;
  }
  @include breakpoint(large) {
    &:nth-child(1),
    &:nth-child(4) {
      @include xy-cell(1 of 1);
    }

    &:nth-child(2),
    &:nth-child(3) {
      @include xy-cell(1 of 2);
    }
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      @include xy-cell(1 of 3);
      max-height: rem-calc(370);
    }
  }
  &:nth-child(even) {
    background-position: 25% center !important;
  }

  &:hover,
  &:focus {
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.16);
  }

  // span {
  //   position: relative;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: rem-calc(375);
  //   overflow: hidden;
  //   background-size: cover;
  //   background-position: center center;

  //   @include breakpoint(medium) {
  //     height: rem-calc(414);
  //   }
  //   @include breakpoint(large) {
  //     height: rem-calc(480);
  //   }
  //   @include breakpoint(xlarge) {
  //     height: rem-calc(560);
  //   }
  // }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__image,
  img,
  source {
    position: relative;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    .inner {
      opacity: 1;
      transform: scale(1, 1);
    }

    .header,
    .content,
    .footer {
      opacity: 1;
    }
  }
}

.inner {
  display: flex;
  padding: rem-calc(24);
  cursor: pointer;
  transition: all 500ms $ease-out-expo;
  transform-origin: left center;
  transform: scale(0, 1);
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: rem-calc(375);
  position: relative;
  width: 100%;

  @include breakpoint(medium) {
    height: rem-calc(414);
  }
  @include breakpoint(large) {
    height: rem-calc(480);
  }
  @include breakpoint(xlarge) {
    height: rem-calc(560);
  }
}

.header,
.content,
.footer {
  transition-propert: opacity;
  transition-duration: 500ms;
  transition-delay: 400ms;
  transition-timing-function: $ease-out-expo;
  display: flex;
  flex: 1;
  opacity: 0;
}

.header {
  align-items: flex-start;
  flex-direction: column;
}

.content {
  align-items: center;
  p {
    font-family: var(--body-font-family);
    opacity: 1;
    text-rendering: geometricPrecision;
  }
}

.footer {
  align-items: flex-end;
}

.title {
  line-height: 1;
  margin-bottom: 0;

  @include responsive-typography(large, h2);
  font-family: $header-font-family;
  @include breakpoint(large) {
    @include responsive-typography(large, h2);
  }
}

.type {
  font-family: var(--body-font-family);
  margin-bottom: $global-margin * 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: rem-calc(12);
}

.description {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  @include responsive-typography(small, h6);
  @include breakpoint(medium) {
    @include responsive-typography(medium, h5);
  }
  @include breakpoint(large) {
    @include responsive-typography(large, h4);
  }
}

.seemore {
  opacity: 1;
  margin-bottom: 0;
  @include responsive-typography(medium, h6);
  @include breakpoint(large) {
    @include responsive-typography(large, h6);
  }
}

.panel:nth-child(even) .content {
  margin-left: calc(7 / 12 * 100%);
  padding-right: 0;
}
