---
import Bio from "../components/bio/index.astro";
import Experience from "../components/experience/index.astro";
import Intro from "../components/intro/index.astro";
import Skills from "../components/skills/index.astro";
import PAGE_CONTENT from "../data/index.json";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="About João Dias - Frontend Engineer specializing in Web Accessibility"
	description="Learn about João Dias, a Frontend Engineer specializing in Web Accessibility from Coimbra, Portugal. Currently at Feedzai."
>
	<main>
		<section id="content" tabindex={-1} aria-labelledby="about">
			<h1 id="about">{PAGE_CONTENT.about.title}</h1>
			<Intro />
			<Skills />
			<Bio />
			<Experience />
		</section>
	</main>
</PageLayout>
