/**
* Libraries
**/

@import '../../../assets/styles/global/settings';
@import '../../../assets/styles/global/motion';
/**
* Styling
**/

.container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  height: 64vh;
  min-height: 280px;
  max-height: 760px;
  text-align: center;
  background-color: transparent;
  background-color: $color-white;
  background-position: center bottom;
  overflow: hidden;
  text-align: center;
  @include breakpoint(large) {
    height: 65vh;
    min-height: $global-padding * 24;
  }
  @include breakpoint(xlarge) {
    height: 70vh;
    min-height: $global-padding * 28;
  }
}

.title {
  @include responsive-typography(large, h2);
  @include fadeInUp($duration: 1000ms, $function: $ease-out-back);
  @include breakpoint(medium) {
    @include responsive-typography(large, h1);
  }
}

.subtitle {
  @include responsive-typography(medium, h4);
  @include fadeInUp($duration: 1000ms, $delay: 250ms, $function: $ease-out-back);
  @include breakpoint(medium) {
    @include responsive-typography(large, h4);
  }
}

.icon {
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  margin-top: rem-calc(24);
  transition: transform 125ms $ease-out-circ;
  @include breakpoint(large) {
    display: flex;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    .circleDown {
      transform: scale(1.1);
    }
  }
}

.circleDown {
  text-align: left;
  float: left;
  width: rem-calc(32);
  height: rem-calc(32);
  transition: transform 125ms $ease-out-circ;
  @include breakpoint(medium) {
    width: rem-calc(40);
    height: rem-calc(40);
  }
  @include breakpoint(large) {
    width: rem-calc(44);
    height: rem-calc(44);
  }
  circle {
    stroke-dasharray: 128;
    stroke-dashoffset: 240;
    stroke: #e0e0e6;
    animation-name: circleStroke;
    animation-duration: 2500ms;
    animation-timing-function: $ease-in-out-circ;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  g {
    animation-name: circleArrow;
    animation-delay: 1500ms;
    animation-duration: 1000ms;
    animation-timing-function: $ease-out-back;
    animation-fill-mode: forwards;
    animation-direction: normal;
    opacity: 0;
  }
}

// Animation
@keyframes circleStroke {
  0% {
    stroke-dasharray: 128;
    stroke-dashoffset: 240;
    stroke-opacity: 0;
    fill-opacity: 0;
  }
  50% {
    stroke-opacity: 1;
    fill-opacity: 0;
  }
  100% {
    fill: #ffffff;
    stroke-dasharray: 120;
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes circleArrow {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
