@import '../../../../assets/styles/global/settings';
@import '../../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include xy-cell(1 of 1);

  @include breakpoint(medium) {
    @include xy-cell(1 of 2);
  }

  @include breakpoint(large) {
    @include xy-cell(1 of 4);
  }
}

.title {
  margin-bottom: $global-margin * 0.5;
  font-weight: 400;
  color: var(--color-gray6, $color-gray6);
}

li {
  font-size: rem-calc(14);

  &:not(:first-child) {
    color: var(--color-gray2, $color-gray2);
    font-weight: 400;
  }

  &:focus {
    outline-color: var(--color-gray4, $color-gray4);
    outline-width: 1px;
    outline-style: dashed;
  }
}