.dark {
  background-color: var(--color-black, $color-black);

  #page-header {
    background-color: var(--color-black, $color-black);
  }

  .brand {
    &__circle {
      fill: var(--color-black, $color-black);
    }

    &__hair {
      fill: var(--color-gray8, $color-gray8);
    }

    &__glasses {
      fill: var(--color-white, $color-white);
    }
  }

  &.fixed-nav {
    .brand {
      &__hair {
        fill: var(--color-white, $color-white);
      }

      &__glasses {
        fill: var(--color-white, $color-white);
      }
    }
  }
  #logo {
    &:hover {
      transform: scale(1.2) rotate(10deg);
      #logoFill {
        fill: var(--color-white, $color-white) !important;
      }
    }
    &Fill {
      fill: var(--color-gray3, $color-gray3);
    }
  }

  .src-components-project-introduction----styles-module---introduction---2BWd2 {
    color: $color-white;
  }

  .src-components-page-title----styles-module---container---2l4NV {
    background-color: var(--color-black, $color-black);
  }
  // Top Navigation
  .src-components-large-navigation----styles-module---navigation__item---3nWjE {
    a {
      color: var(--color-gray6, $color-gray6);
      &.active {
        color: var(--color-gray0, $color-gray0) !important;
      }
    }
  }
  // Section Title
  .src-components-page-title----styles-module---title---xEaUp,
  .src-components-page-title----styles-module---subtitle---3hhHn {
    color: var(--color-white, $color-white) !important;
  }
}

.item {
  &--dark {
    h2,
    h3,
    p {
      color: var(--color-gray9, $color-gray9);
    }
  }
}
