html[data-theme="dark"],
body.project {
	--body-background: var(--color-black, #030304);
	--call-to-action-wrapper-background: hsl(227, 12%, 9%);

	--call-to-action-wrapper-background-hover: var(--color-gray9, #3a3e4c);
	--call-to-action-wrapper-gradient: var(--color-gray8, #646b82);
	--call-to-action-wrapper-shadow: var(--color-gray9, #3a3e4c);
	--call-to-action-wrapper-border: var(--color-black, #030304);

	--call-to-action-title: var(--color-gray5, #9a9fae);
	--call-to-action-subtitle: var(--color-gray7, #646b82);
	--call-to-action-link: var(--color-gray7, #82889b);

	.brand {
		&__circle {
			fill: var(--color-black, #030304);
		}

		&__hair,
		&__glasses {
			fill: var(--color-gray0, #f9f9fa);
		}
	}

	#page-header {
		background-color: var(--color-black, #030304);
		transition: all 150ms ease-out;

		@media #{$breakpoint-medium} {
			box-shadow: none;
		}

		*:focus {
			outline-color: var(--color-gray6, #9a9fae);
		}
	}

	.large-nav__link {
		color: var(--color-gray3, $color-gray3);

		&:before {
			background-color: var(--color-gray5, $color-gray5);
		}

		&:hover,
		&:focus,
		&.active {
			color: var(--color-white);
		}
	}

	#social-navigation {
		.social__fill {
			fill: var(--color-gray7, $color-gray7);
		}

		.social-navigation__SocialLink-eQAYUO {
			&:before {
				background: var(--color-gray7, $color-gray7);
			}

			.social__fill {
				&:focus,
				&:hover {
					fill: var(--color-gray7, $color-gray7);
				}
			}
		}
	}

	#bottom-navigation-bar {
		background-color: var(--color-black, #030304);
		box-shadow: 0 -2px 0 var(--color-black, #030304);
	}
}
