---
import FancyLink from "../fancy-link";
---

<div class="intro">
  <h3 class="sr-only">Intro</h3>
  <h4 class="intro__heading">
    <span class="intro__subtitle">Hey, what's up?</span>
    <span class="intro__title">I'm <span lang="pt-PT">João Dias</span>, a web developer and accessibility advocate from
      <span lang="pt-PT">Coimbra, Portugal</span></span>
  </h4>
  <p>Currently at <span class="link-container">
      <FancyLink href="https://www.feedzai.com" target="_blank" text="Feedzai" />
    </span></p>
</div>

<style lang="scss">
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .intro__heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .intro__title,
  .intro__subtitle,
  p {
    font-style: normal;
    font-weight: 400;
    max-width: 51.625rem;
  }

  .intro__title,
  p {
    font-family: var(--heading-font-family);
  }

  .intro__subtitle {
    display: flex;
    font-family: var(--text-font-family);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.375rem;
    text-transform: uppercase;
  }

  .intro__title {
    font-size: 2.125rem;
    line-height: 1.15;

    @media (min-width: 60rem) {
      font-size: 3.5rem;
    }
  }

  p {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.21875;

    @media (min-width: 60rem) {
      font-size: 2rem;
    }
  }

  p,
  .link-container {}

  .link-container {
    display: inline-flex;
  }
</style>
