@use "../../assets/styles/custom-media.scss";

.footer {
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    margin-bottom: var(--space-xxl);

    @media (--medium-viewport) {
      flex-direction: row;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: var(--font-size-base);
  }

  &__name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
    width: 100%;
    height: auto;
    font-size: 100%;

    img {
      width: 100%;
      height: auto;
      opacity: 6.25%;
    }
  }
}

.footer.footer,
.footer__container.footer__container {
  padding-bottom: 0;
}
