@use "../../assets/styles/custom-media.scss";

.footer.footer {
    margin-top: var(--space-lg);

    @media (--medium-viewport) {
      margin-top: var(--space-xl);
    }

    @media (--large-viewport) {
      margin-top: var(--space-xxl);
    }
}

.footer {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-lg);
  }

  &__currentlyListening,
  &__footer {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  &__bottom {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    @media (--medium-viewport) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: var(--space-md);
    }

    @media (--large-viewport) {
      grid-column-gap: var(--space-md);
    }
  }
}
