@use "../../assets/styles/custom-media.scss";

.footer-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-xs);
  font-size: var(--font-size-sm);

  &__name,
  &__description {
    margin: 0;
    font-size: var(--font-size-md);
  }

  &__name {
    font-family: var(--heading-font-family);
    font-weight: 700;
  }

  &__description {
    font-family: var(--text-font-family);
    font-weight: 400;
  }

  @media (--medium-viewport) {
    font-size: var(--font-size-base);
    grid-column-start: 1;
    grid-column-end: 6;
  }

  @media (--large-viewport) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}