@use "../../assets/styles/custom-media.scss";

.blog-search {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.search-form {
  --form-height: var(--space-xl);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-base);
  width: 100%;

  @media (--medium-viewport) {
    flex-direction: row;
    align-items: center;
  }
}

.search-input {
  font-family: var(--text-font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color-faded);
  min-height: var(--form-height);
  width: 100%;
  border-radius: var(--form-height);
  padding-inline: var(--space-sm);
  padding-block: var(--space-xs);
}

.search-button {
  font-family: var(--text-font-family);
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--background-color);
  background-color: var(--text-color);
  min-height: var(--form-height);
  padding-inline: var(--space-md);
  padding-block: var(--space-xs);
  border-radius: var(--form-height);
  cursor: pointer;
  border: none;
}

.results-top,
.results-list {
  width: 100%;
}

.results-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-base);
  box-shadow: 0 1px 0 var(--text-color-faded);
  padding-block-end: var(--space-base);
  margin-block-start: var(--space-base);

  @media (--medium-viewport) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.results-total,
.results-term {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--text-color-faded);

  @media (--medium-viewport) {
    font-size: var(--font-size-base);
  }
}

.results-list {
  --items-per-row: 1;

  display: grid;
  grid-template-columns: repeat(var(--items-per-row), minmax(0, 1fr));
  grid-column-gap: var(--space-base);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (--medium-viewport) {
    --items-per-row: 2;
  }

  @media (--large-viewport) {
    --items-per-row: 3;
  }
}

.result-item {
  list-style: none;
}
