---
const { href, text, ...props } = Astro.props;
---
<a href={href} class="header__link" {...props}>
  <span>{text}</span>
  <svg class="header__link__underline" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
  </svg>
</a>

<style lang="scss">
  .header__link {
      text-decoration: none;
      text-align: center;
      height: 100%;
      overflow: hidden;
      position: relative;

      &:hover,
      &:focus {
        .header__link__underline {
            transform: translate3d(-66.6%, 0, 0);
        }
      }
  }

  .header__link__underline {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      fill: none;
      stroke: #000;
      stroke-width: 2px;
      transition: transform 700ms;
      transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  }
</style>
