.skip-main {
  &:not(:focus) {
    left: -999px;
    bottom: 0;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  display: flex;
  justify-content: center;
  outline-color: $gray1;

  position: fixed;
  bottom: rem-calc(64);
  left: 0;
  right: 0;

  width: calc(100% - #{rem-calc(180)});
  height: rem-calc(36);
  text-align: center;
  font-size: rem-calc(12);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: rem-calc(36);

  padding: 0 rem-calc(8);
  margin-right: auto;
  margin-left: auto;

  background-color: var(--color-primary, $primary-color);
  border-radius: rem-calc(36);
  z-index: 1;

  text-decoration: none;

  &,
  &:focus {
    color: $white;
  }

  @include breakpoint(medium) {
    width: rem-calc(200);
  }

  @include breakpoint(large) {
    position: absolute;
    top: rem-calc(64);
  }
}

.show-for-screen-readers {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
