@font-face {
	font-family: "jd-serif";
	src: local("jd-serif"), url("/fonts/jd-serif-regular.woff2") format("woff2"),
		url("/fonts/jd-serif-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

// Bold
@font-face {
	font-family: "jd-sans";
	src: local("jd-sans"), url("/fonts/jd-sans-bold.woff2") format("woff2"),
		url("/fonts/jd-sans-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

// regular
@font-face {
	font-family: "jd-sans";
	src: local("jd-sans"), url("/fonts/jd-sans-regular.woff2") format("woff2"),
		url("/fonts/jd-sans-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

// light
@font-face {
	font-family: "jd-sans";
	src: local("jd-sans"), url("/fonts/jd-sans-light.woff2") format("woff2"),
		url("/fonts/jd-sans-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}
