@use "../../assets/styles/custom-media.scss";

.experience.experience {
  --columns-per-section: 1;

  grid-template-columns: repeat(var(--columns-per-section), 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (--medium-viewport) {
    --columns-per-section: 2;
  }

  @media (--large-viewport) {
    --columns-per-section: 3;
  }

  @media (--laptop-viewport) {
    --columns-per-section: 4;
  }
}

.item {
  position: relative;

  &[data-current] {
    .title,
    .description,
    .metadata p {
      background-color: var(--text-color);
      color: var(--background-color);
      width: fit-content;
      padding: 0.125rem 0.25rem;
    }

    .title {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0.75rem;
        left: calc(3rem * -1);
        width: 1rem;
        height: 1rem;
        background-image: url("/asterisk.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.description {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
}

.metadata {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.title {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  padding-block: 5rem;

  &,
  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  a {
    padding-block: 1.5rem;
    padding-inline: 2rem;
    color: var(--text-color);
    border: 1px solid currentColor;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-base);
    line-height: 1;
    text-decoration: none;
    border-radius: 3rem;
    gap: 1rem;

    .extension {
      font-weight: 500;
    }

    &:hover,
    &:focus {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }
}
