.container,
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container {
  gap: 2rem;
}

.info {
  gap: 1.5rem;
}

.track,
.artist,
.album {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.track {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}
