.work {
  &__link {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    background-color: var(--work-background-color);
    color: var(--work-text-color);
    border: 0.25rem solid var(--text-color);
    box-shadow: 0.25rem 0.25rem 0 0 var(--text-color);
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover,
    &:focus {
      translate: 0.25rem 0.25rem;
      box-shadow: none;
    }
  }

  &__content {
    padding: 2rem;
  }

  &__title,
  &__description {
    position: relative;
    width: 100%;
    color: inherit;
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    min-width: 0;
    border-radius: inherit;
  }

  &__image-container {
    position: relative;
    min-width: 0;
    width: 100%;
    border-radius: inherit;
  }
}
