 @use "../../assets/styles/custom-media.scss";


.featured-work,
.featured-work__content {
  width: 100%;
}

.featured-work__list {
  --work-per-row: 1;
  display: grid;
  grid-gap: var(--space-lg);
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--work-per-row), 1fr);
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  grid-column: 1  / -1;

  @media (--medium-viewport) {
    --work-per-row: 2;
  }

  @media (--large-viewport) {
    --work-per-row: 4;
  }
}

.work {
  --work-title-size: var(--font-size-lg);
  --work-description-size: var(--font-size-md);

  &__link {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover,
    &:focus {
      translate: 0 -0.25rem;
      box-shadow: none;
    }
  }

  &__title,
  &__description {
    position: relative;
    width: 100%;
    color: inherit;
  }

  &__title {
    font-family: var(--heading-font-family);
    font-size: var(--work-title-size);
    font-weight: 700;
  }

  &__description {
    font-family: var(--text-font-family);
    font-size: var(--work-description-size);
    font-weight: 400;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 0;
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-width: 0;
      border-radius: inherit;
    }

    &__cta {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: var(--space-xl);
      padding-inline: var(--space-base);
      padding-block: var(--space-xs);
      background-color: var(--work-background-color);
      color: var(--work-text-color);
      z-index: 1;
      border-radius: var(--space-xl);
      font-family: var(--text-font-family);
      font-size: var(--font-size-base);
      font-weight: 700;
      transition: all 200ms ease-in-out;
    }
  }

  @media (--medium-viewport) {
    --work-title-size: var(--font-size-lg);
    --work-description-size: var(--font-size-md);
  }

  @media (--large-viewport) {
    --work-title-size: var(--font-size-lg);
    --work-description-size: var(--font-size-base);
  }
}
