@use "../../../assets/styles/custom-media.scss";
@use "./_footerLinks.scss" as links;

.footer-links {
  @include links.container();

  &,
  &__list,
  &__title {
    width: 100%;
  }

  &__title {
    @include links.title();
  }

  &__list {
    @include links.list-flex();

    gap: var(--space-sm);

    @media (--medium-viewport) {
      gap: var(--space-base);
    }
  }

  &__item,
  &__link {
    @include links.item-size();
  }

  &__link {
    @include links.link-flex();
  }

  @media (--medium-viewport) {
    grid-column-start: 10;
    grid-column-end: -1;
  }

  @media (--large-viewport) {
    grid-column-start: 7;
    grid-column-end: 9;
  }
}
