.fancy__link__wrapper {
  height: 2rem;
  display: flex;
}

.fancy__link {
  text-decoration: none;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;

  &,
  span {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  &:hover,
  &:focus {
    .fancy__link__underline {
      transform: translate3d(-66.6%, 0, 0);
    }
  }
}

.fancy__link__underline {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: var(--text-color);
  stroke-width: 2px;
  transition: transform 700ms;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  z-index: -1;
  background-color: transparent;
}

.grid-background {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  position: fixed;
  content: "";
  inset: 0;
  opacity: 0;
  z-index: -2;

  > .grid-background__item {
    border-left-style: dashed;
    border-right-style: dashed;
    border-color: var(--text-color);
    border-width: 1px;
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .grid-background {
    animation-name: showGrid;
    animation-duration: 2000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
  }
}

@keyframes showGrid {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
