*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (--with-motion) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--text-font-family);
  font-size: var(--font-size-base);
  padding-block: 0;
  padding-inline: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--background-color);
  background-image: url(/white-texture.png);
  background-position: 0 0;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--heading-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  line-height: 1.2;
  color: var(--text-color);
}

h1,
.as-h1,
h2,
.as-h2 {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  margin-bottom: 1.5rem;

  @media (--large-viewport) {
    margin-bottom: 2rem;
  }
}

h3,
.as-h3 {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  margin-bottom: 1rem;

  @media (--medium-viewport) {
    margin-bottom: 1.5rem;
  }
}

h4,
.as-h4,
h5,
.as-h5,
h6,
.as-h6 {
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

h1,
.as-h1 {
  font-size: var(--font-size-xxxl);
}

h2,
.as-h2 {
  font-size: var(--font-size-xxl);
}

h3,
.as-h3 {
  font-size: var(--font-size-xl);
}

h4,
.as-h4 {
  font-size: var(--font-size-lg);
}

h5,
.as-h5 {
  font-size: var(--font-size-md);
}

h6,
.as-h6 {
  font-size: var(--font-size-sm);
}

p,
.as-p,
a,
button {
  font-size: var(--font-size-base);
}

p {
  font-family: var(--text-font-family);
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

*:focus {
  outline-offset: 4px;
  outline-color: var(--text-color);
  outline-width: 4px;
  outline-style: dashed;
}
