.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  overflow-x: clip;
}

section,
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--global-padding);
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.section__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--space-xs);
  grid-row-gap: var(--space-md);
  align-content: start;
  width: 100%;
  height: auto;
  color: var(--text-color);
}

.section__title,
.section__intro {
  grid-column: 1 / -1;
  text-align: left;
}

.section__title {
  grid-column: 1 / -1;
  font-family: var(--heading-font-family);
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--text-color-faded);
  text-align: left;
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-xs);

  &--number {
    font-style: italic;
    font-weight: 400;
  }

  &--text {
    font-weight: 700;
    font-style: normal;
  }
}

.section__intro {
  font-family: var(--text-font-family);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--text-color);
  text-align: left;
  margin-bottom: var(--space-lg);
}
