@use "../../assets/styles/custom-media.scss";

.radio-broadcasts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-lg);
}

.broadcasts {
  width: 100%;
  position: relative;

  &__intro {
    grid-area: intro;
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: var(--font-size-md);

    @media (--medium-viewport) {
      grid-column-end: 6;
    }

    @media (--large-viewport) {
      grid-column-end: 8;
    }
  }

  &__shows {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--space-base);
    position: relative;

    @media (--large-viewport) {
      grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
      gap: var(--space-lg);
    }

    @media (--laptop-hd-viewport) {
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
      gap: var(--space-lg);
    }
  }
}
