@use "../../assets/styles/custom-media.scss";

.show {
  container-name: show-card;
  container-type: inline-size;
}

.card {
  --show-gap: var(--space-sm);
  --show-padding: var(--space-sm);
  --show-image-size: 5rem;
  --show-title-font-size: var(--font-size-base);
  --show-name-font-size: var(--font-size-sm);
  --show-date-font-size: var(--show-name-font-size);
  --show-description-font-size: var(--font-size-base);
  --show-icon-color: var(--palette-black);

  display: grid;
  grid-template-areas:
    "cover meta"
    "cover meta"
    "title title"
    "content content";
  grid-template-columns: var(--show-image-size) 1fr;
  align-items: stretch;
  gap: var(--show-gap);
  width: 100%;
  background-color: var(--palette-white);
  background-image: url(/white-texture.png);
  background-position: 0 0;
  background-size: auto;
  padding: var(--show-padding);
  border-radius: var(--space-base);
  outline: 2px solid var(--palette-black);
}

.cover {
  width: 100%;
  align-items: center;
  aspect-ratio: 1;
  border-radius: var(--space-base);
  display: grid;
  grid-area: cover;
  height: var(--show-image-size);
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  position: relative;
  width: var(--show-image-size);
  border-radius: var(--space-sm);
  margin-inline: auto;
}

.link {
  display: flex;
  width: 100%;
  font-size: var(--font-size-sm);
}

.header {
  grid-area: header;
  padding-inline: var(--show-padding);
}

.title,
.metadata,
.name,
.date,
.description {
  color: var(--show-text-color);
}

.title {
  grid-area: title;
  display: flex;
  gap: var(--space-sm);
  font-size: var(--show-title-font-size);
  font-weight: 600;
}

.metadata {
  grid-area: meta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xs);
}

.name {
  font-size: var(--show-name-font-size);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--palette-green-main);
  padding-block: var(--space-xxs);
  padding-inline: var(--space-xs);
  border-radius: var(--space-sm);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.head,
.title {
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
  flex: 1;
  flex-direction: column;
  gap: var(--space-xs);
  height: 100%;
  margin: 0;
}

.description {
  font-size: var(--show-description-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.date {
  font-size: var(--show-date-font-size);
  color: var(--text-color-faded);
}

@container show-card (min-width: 16rem) {
  .name {
    --show-padding: var(--space-base);
    --show-name-font-size: var(--font-size-xs);
  }
}

@container show-card (min-width: 22.75rem) {
  .card {
    --show-padding: var(--space-base);

    grid-template-areas:
      "cover title title"
      "cover meta meta"
      "content content content";
    grid-template-columns: var(--show-image-size) 1fr 1fr;
  }

  .metadata {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xs);
  }
}

@container show-card (min-width: 37.5rem) {
  .card {
    --show-padding: var(--space-md);
    --show-title-font-size: var(--font-size-md);
  }
}
