---
import Item from "./item.astro";

export const WORKS = [
    {
      title: "WinPicker",
      subtitle: "A colour picker for Windows 11",
      skills: ["react", "vitejs","electron"]
    },
    {
      title: "Google Chat Formatter",
      subtitle: "Browser extension that helps google chat users to type rich text",
      skills: ["preact", "vitejs","cypress"]
    },
    {
      title: "istovaidarmerda.online",
      subtitle: "Website for an online pandemic-centric conference. Includes some easter eggs.",
      skills: ["nextjs", "cypress", "jest", "testing-library"]
    },
    {
      title: "Paperboy",
      subtitle: "A progressive web app for a concept news reader.",
      skills: ["gatsby", "news-api", "cypress", "styled-components"]
    },
    {
      title: "@feedzai/react-a11y-tools",
      subtitle: "A small component library that eases the process of creating accessible design systems, web apps or websites. Available on npm.",
      skills: ["react", "node", "cypress-component-testing", "esbuild", "rollup"]
    },
];
---
<div class="work">
  <h2 id="work" class="title">
    <span class="arrow" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 40">
        <path fill="var(--text-color)" d="M15.2 38.64v.48h5.76v-.48c0-4.88 1.92-9.52 5.36-13.04 3.44-3.52 8.08-5.44 12.96-5.52h.4v-1.04h-.48c-4.88-.08-9.44-2-12.88-5.52-3.44-3.44-5.36-8.08-5.36-13.04V0H15.2v.48c0 5.28 2.48 10.16 7.04 13.84 2.72 2.16 5.92 3.76 9.44 4.72H.8v1.04h30.88c-3.52.96-6.72 2.56-9.44 4.72-4.56 3.68-7.04 8.64-7.04 13.84Z"/>
      </svg>
    </span>
    <span>Selected work</span>
  </h2>
  <div class="work__list">
    {WORKS.map((work) => {
      return (
        <Item {...work} />
      );
    })}
  </div>
</div>

<style lang="scss">
  .work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
  }

  .title {
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 5.125rem;
    line-height: 1.2;
    text-transform: capitalize;
    position: relative;
  }

  .arrow {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    top: 2rem;
    left: -4rem;
  }
</style>
