/**
* Libraries
**/
@import '../../../assets/styles/global/settings';
@import '../../../../node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss';

/**
* Styling
**/
.footer {
  &__copyright {
    &__container {
      width: 100%;
      position: relative;
      background-color: $gray0;
      height: auto;
      justify-content: space-between;
      flex-direction: row;
      display: flex;
      padding-top: $global-padding;
      padding-bottom: $global-padding;
      margin-top: $global-margin * 3 !important; 
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }

    &__row{
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      margin-bottom: $navbar-height;

      @include breakpoint(medium) {
        flex-direction: row;
        margin-bottom: 0;
      }
    }

    &__left,
    &__right {
      font-family: $body-font-family;
      letter-spacing: 0;
      font-size: rem-calc(12);
      margin-top: $global-margin;
      margin-bottom: $global-margin;
      text-align: center;
      width: 100%;

      @include breakpoint(medium) {
        width: 50%;
        text-align: left;
      }

      a,
      p {
        line-height: rem-calc(48);
        width: 100%;

        @include breakpoint(medium) {
          line-height: rem-calc(64);
        }
      }

      a {
        color: $gray9;
      }

      p {
        color: $gray6;
        flex-wrap: wrap;
      }

      li {
        margin-left: rem-calc($global-margin);
        margin-right: rem-calc($global-margin);
      }
    }

    &__left {
      color: $gray8;
      text-align: center;
      @include breakpoint(large) {
        text-align: left;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include breakpoint(large) {
        text-align: right;
      }
    }

    &__links {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;

      @include breakpoint(large) {
        flex-direction: row;
      }

      li {
        flex-wrap: wrap;
        color: $gray8;

        a {
          color: $gray8;
        }
      }
    }
  }
}
